workflows/resume_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "/resume-upload",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "resume-upload"
    },
    {
      "parameters": {
        "operation": "readBinaryFile",
        "filePath": "={{$node[\"Webhook\"].json[\"filepath\"]}}"
      },
      "name": "Read PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "pdf": "={{$node[\"Read PDF\"].binary[\"data\"]}}"
        }
      },
      "name": "Extract Text",
      "type": "n8n-nodes-base.pdf",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "Extract the following information from this resume in JSON format: full_name, email, phone, skills (as array), experience_years (as float), last_job_title. Resume text: ```{{$node[\"Extract Text\"].json[\"text\"]}}```",
        "options": {}
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "resumes",
        "columns": "filename,full_name,email,phone,skills,experience_years,last_job_title",
        "values": "={{[$node[\"Webhook\"].json[\"filename\"], $node[\"OpenAI\"].json[\"full_name\"], $node[\"OpenAI\"].json[\"email\"], $node[\"OpenAI\"].json[\"phone\"], $node[\"OpenAI\"].json[\"skills\"], $node[\"OpenAI\"].json[\"experience_years\"], $node[\"OpenAI\"].json[\"last_job_title\"]]}}",
        "returnFields": "*"
      },
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}